.App {
  text-align: center;
  display: Flex;
  align-self: center;
}

.App-header {
  background-color: #282c34;
  min-height: 300vh;
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: white;
}
button {
  display: center;
  flex-direction: center;
  font-size: 20px;
  border: 2px solid greenyellow;
}

input {
  border: 2px solid greenyellow;
  border-radius: 3px;
  display: center;
  width: 50%;
}

H1 {
  font-size: 100%;
  display: flex;
  justify-content: left;
}

.Wrapper {
  display: flex;
  flex-direction: center;
}
