body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 40%;
  background-color: #ffffff;
  border: 5px solid green;
  text-align: left;
  margin: 10%;
  padding: 7px;
}

.flex {
  width: 50%;
  border: 2px black;
  background-color: grey;
  color: White;
  text-align: center;
}
